/* カスタムテーマ */
:root{
  --background-color:#3F4551;
  --header-background-color:rgba(0,14,20,0.75);
  --header-text-color:#E1F6FF;
  --default-text-color:#000E14;
  --box-background-color:var(--default-text-color);
  --shadow-color:var(--default-text-color);
  --content-background-color:rgb(225,246,255,0.75);
  --mokume-theme-color:#00F0C6;
  --yu762-theme-color:#F05500;
  --guri-theme-color:#00EF1C;
  --jiro-theme-color:#C600F0;
  --nafu-theme-color:#00A0F0;
  --okayu-theme-color:#F00000;
  --title:"Bebas Neue";
  --text:"Noto Sans JP";
}

body{
  background-image: url("images/NKRBTMPLOGO.png");
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  color: var(--default-text-color);
  font-family: var(--text);
}

/* ここからheader部分 */
header{
  background-color: var(--header-background-color);
  margin-top: -10px;
}

header .menu_list{
  list-style: none;
  /* リスト全体を中央揃え */
  text-align: center;
  /* inline-blockで要素ごとにスキマを開けないため必須 */
  font-size: 0px;
  margin: 0px;
}

header .menu_list a{
  width: 120px;
  font-size: 35px;
  /* リスト内テキストを中央揃え */
  text-align: center;
  display: inline-block;
  padding: 5px;  /*文字周辺の空白*/
  margin: 10px;   /*要素周辺の余白*/
  /* リンクに装飾をしない */
  text-decoration: none;
  color: var(--header-text-color);
  font-family: var(--title);
  letter-spacing: 2px;
}

/* ここからmain部分 */
main{
  min-width: 400px;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}

main .content{
  background-color: var(--content-background-color);
  padding: 20px;
  margin: 20px;
  border-radius: 3px;
  box-shadow: 0px 0px 10px var(--box-background-color);
}

main h2{
  margin-top: 0px;
  margin-bottom: 20px;
  text-align: center;
  font-family: var(--title);
  font-size: 30px;
  letter-spacing: 2px;
}

main #menu_about{
  height: 500px;
}

#menu_about .catch{
  font-size: 30pt;
  font-weight: bold;
  color: var(--header-text-color);
  width: 100%;
  height: 200px;
  border-radius: 100px;
  /* 上下中央揃え */
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;

  animation: 2s linear 0s infinite alternate running catch;
}

@keyframes  catch{
  0%{
    text-shadow: 0px 0px 20px var(--box-background-color);
  }
  100%{
    text-shadow: 0px 0px 50px var(--header-text-color);
  }
}

#menu_about .description p{
    width: 75%;
    height: 220px;
    margin: 10px auto;
}

main #menu_works{
  height: 500px;
}

/* ここからメンバー紹介 */
main #member_list{
  text-align: center;
}

.member_box h3{
  font-weight: medium;
  width: 150px;
  margin: 10px auto 10px;
  padding: -5px;
  padding-bottom: 3px;
  box-shadow: 0px 0px 5px var(--header-background-color);
  background-color: var(--box-background-color);
}

main .member_box img{
  width: 100px;
  margin: 10px;
  border-radius: 5px;
  box-shadow: 0px 0px 5px var(--header-background-color);
}

main .member_box{
  display: inline-block;
  text-align: center;
  width: 300px;
  height: 250px;
  margin: 15px;
  margin-left: 12px;
  margin-right: 12px;
  padding: 5px;
  vertical-align: top;
  background-color: var(--content-background-color);
  border-radius: 5px;
  box-shadow: 0px 0px 5px var(--header-background-color);
}

main .self_intro{
  width:inherit;
  height: 60px;
  display: table-cell;
  vertical-align: middle;
  font-size: 11pt;
}

main .member_links{
  margin: 2px auto 2px;
}

main .member_links a{
  margin: 3px;
  font-size: 10pt;
  text-decoration: none;
  color: mediumblue;
}

main .member_links a[target="_blank"]{
  display: inline-block;
  padding-right: 12px;
  background: url("images/new_window.png") no-repeat right center;
  background-size: 10px;
}

#mokume h3{color: var(--mokume-theme-color);}
#yu762 h3{color: var(--yu762-theme-color);}
#guri h3{color: var(--guri-theme-color);}
#jiro h3{color: var(--jiro-theme-color);}
#nafu h3{color: var(--nafu-theme-color);}
#okayu h3{color: var(--okayu-theme-color);}
